<form method="POST" action="/auth/signIn">
  <input name="email" placeholder="email" type="email">
  <input type="password" placeholder="password" type="password">
   <button>Sign IN</button>


</form>