<form method="POST" action="/auth/signUp">
  <input name="email" placeholder="email" type="email">
  <input name="name" placeholder="name" type="text">
  <input type="password" placeholder="password" type="password">
   <button>Sign UP</button>


</form>