
<div class = "d-flex justify-content-center">
<form class="d-flex flex-column align-items-center" action="/addressbook" method="POST">
<div class="mb-3">
    <input name="pic" placeholder = "Введит url картинки" type="text" class="form-control">
  </div>
  
  <div class="mb-3">
    <input name="text" placeholder = "Ведите текст поста" type="text" class="form-control"></input>
    </div>
  
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>




<section class= "d-flex flex-column align-items-center" >
    {{#each listOfPosts}}
<div class="card my-3"  style="width: 18rem;">
  <img src="{{this.pic}}" class="card-img-top" alt="...">
  <div class="card-body">
  {{!-- <h5 class = "card-title">{{this.pic}}</h5> --}}
    <p class = "card-phone">{{this.text}}</p>
   </div>
</div>
{{/each}}
</section>